@import '../../../../Styles';

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  color: $color-dark;

  .info {
    max-width: 630px;
  }

  .title {
    margin: 0 0 42px;
    @include inter (60px, 600, 75px);
  }

  .subtitle {
    margin: 0 0 40px;
    @include inter (16px, 400, 24px);
  }

  .store {
    padding: 0;
    display: inline-block;
    margin-right: 20px;

    border-radius: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease;

    line-height: 0;

    &:hover {
      background-color: $color-dark-brown;
    }
  }

  .storeImg {
    transition: 0.3s ease;

    &:hover {
      filter: brightness(0) saturate(100%) invert(91%) sepia(15%) saturate(197%) hue-rotate(345deg) brightness(94%) contrast(88%);
    }
  }

  @media screen and (max-width: 1130px) {
    .info {
      max-width: 100%;
      margin-bottom: 93px;
    }

    .title {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    .title {
      @include inter (32px, 600, 40px);
    }

    .store {
      margin-bottom: 20px;
    }

    .screens {
      max-width: 348px;
    }

    .info {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 1130px) {
  .mobile {
    flex-direction: column;
  }
}