@import '../../Styles';

.menu {
  margin-bottom: 100px;
  color: $color-dark;
  text-align: center;

  .title {
    display: inline-block;
    margin: 0 0 40px;
    max-width: 800px;

    @include inter (60px, 600, 75px);
  }

  .filter_container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }

  .coffee {
    &:after {
      background: url('../../Assets/coffee-icon.svg') no-repeat;
    }
  }

  .tea {
    &:after {
      background: url('../../Assets/tea-icon.svg') no-repeat;
    }
  }

  .dessert {
    &:after {
      background: url('../../Assets/dessert-icon.svg') no-repeat;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;

    color: $color-dark
  }

  .menuItem {
    height: 506px;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: start;
    border: 1px solid $color-dark-light;
  }

  .info {
    display: flex;
    flex-direction: column;
    min-height: 39%;
    padding: 0 20px 20px;
    box-sizing: border-box;
  }

  .wrap {
    overflow: hidden;
    border-radius: 40px;
    max-height: 308px;

    cursor: pointer;
  }

  .itemPic {
    max-width: 100%;
    transition: 0.5s ease;
    transform: scale(1.1);

    &:hover {
      transform: scale(1);
    }
  }

  .name {
    margin: 21px 0 12px;
    @include inter (24px, 600, 30px);
  }

  .description {
    margin: 0;
    flex: 1 1 auto;
    @include inter (16px, 400, 24px);
  }

  .cost {
    margin: 0;
    @include inter (24px, 600, 30px);
  }
}