@import '../../../Styles';

.filter {
  position: relative;
  padding: 10px 13px 10px 47px;

  background-color: transparent;
  border: 1px solid $color-dark-light;
  border-radius: 100px;
  transition: 0.4s ease;

  @include inter (16px, 600, 24px);
  color: $color-dark;

  &:before {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    content: '';

    background-color: $color-dark-light;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.4s ease;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    content: '';
    width: 16px;
    height: 17px;
  }

  &:hover {
    background-color: $color-dark-brown;
    color: $color-light;
  }

  &:hover:before {
    background-color: $color-light;
  }
}

.size,
.add {
  &:hover:after {
    color: $color-dark;
  }

  &:first-child {
    &:after {
      content: 'S';
      height: 24px;
    }
  }

  &:nth-child(2) {
    &:after {
      content: 'M';
      height: 24px;
    }
  }

  &:last-child {
    &:after {
      content: 'L';
      height: 24px;
    }
  }
}

.add {
  &:first-child {
    &:after {
      content: '1';
    }
  }

  &:nth-child(2) {
    &:after {
      content: '2';
    }
  }

  &:last-child {
    &:after {
      content: '3';
    }
  }
}

.filter_active {
  &:before {
    background-color: $color-light;
  }

  background-color: $color-dark-brown;
  color: $color-light;
}