@import './';

html {
  scroll-behavior: smooth;
  background-color: $color-light;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 0;
}

li {
  list-style: none
}

button {
  cursor: pointer;
}

.italic {
  font-style: italic;
  color: $color-brown;
}

.fade-enter {
  opacity: 0;
  // transition: 600ms ease;
}

.fade-exit {
  opacity: 1;
  // transition: 600ms ease;
}

.fade-enter-active {
  opacity: 1;
  transition: 600ms ease;
}

.fade-exit-active {
  opacity: 0;
  transition: 600ms ease;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}