@import '../../Styles';

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @include inter (16px, 600, 24px);
  color: $color-dark;

  .logo {
    cursor: pointer;
  }

  .list {
    display: flex;
    gap: 40px;

    padding: 0;
    margin: 0;
  }

  .item {
    position: relative;
  }

  .button {
    position: relative;
    width: 72px;
    padding: 0;

    border: none;
    background: url('../../Assets/cup.svg') no-repeat 100%;
    background-color: transparent;
    text-align: start;

    @include inter (16px, 600, 24px);
    color: $color-dark;
  }

  .button::after,
  .item::after {
    position: absolute;
    bottom: -2px;
    left: 0;

    content: '';
    width: 100%;
    height: 2px;

    background-color: $color-dark;
    transition: 0.7s ease;
    transform: scaleX(0);
    animation: hide 0.7s ease;
  }

  .button:hover:after,
  .item:hover:after {
    transform: scaleX(1);
    animation: show 0.7s ease;
  }

  @keyframes hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}