@import '../../Styles';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;

  color: $color-dark;
  @include inter (16px, 600, 24px);

  .logo {
    cursor: pointer;
  }

  .list {
    display: flex;
    gap: 40px;

    padding: 0;
    margin: 0;
  }

  .item {
    position: relative;
    cursor: pointer;
  }

  .menuLink {
    position: relative;
    display: inline-block;
    width: 72px;
    padding: 0;

    border: none;
    background: url('../../Assets/cup.svg') no-repeat 100%;
    background-color: transparent;
    text-align: start;

    @include inter (16px, 600, 24px);
    color: $color-dark;
  }

  .menuLink::after,
  .item::after {
    position: absolute;
    bottom: -2px;
    left: 0;

    content: '';
    width: 100%;
    height: 2px;

    background-color: $color-dark;
    transition: 0.4s ease;
    transform: scaleX(0);
    animation: hide 0.4s ease;
  }

  .menuLink:hover:after,
  .item:hover:after {
    transform: scaleX(1);
    animation: show 0.4s ease;
  }

  .menuLinkActive {
    pointer-events: none;

    &:after {
      transform: scaleX(1);
    }
  }
}