@import '../../Styles';

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;

  color: $color-dark;
  @include inter (16px, 600, 24px);

  .logo {
    cursor: pointer;
  }

  .list {
    display: flex;
    gap: 40px;

    padding: 0;
    margin: 0;
  }

  .item {
    position: relative;
    cursor: pointer;
  }

  .menuLink {
    position: relative;
    display: inline-block;
    width: 72px;
    padding: 0;

    border: none;
    background: url('../../Assets/cup.svg') no-repeat 100%;
    background-color: transparent;
    text-align: start;

    @include inter (16px, 600, 24px);
    color: $color-dark;
  }

  .menuLink::after,
  .item::after {
    position: absolute;
    bottom: -2px;
    left: 0;

    content: '';
    width: 100%;
    height: 2px;

    background-color: $color-dark;
    transition: 0.4s ease;
    transform: scaleX(0);
    animation: hide 0.4s ease;
  }

  .menuLink:hover:after,
  .item:hover:after {
    transform: scaleX(1);
    animation: show 0.4s ease;
  }

  .menuLinkActive {
    pointer-events: none;

    &:after {
      transform: scaleX(1);
    }
  }

  @media screen and (max-width: 768px) {
    .nav {
      position: absolute;
      top: 60px;
      left: 50%;
      z-index: 2;
      height: 100vh;
      width: 100vw;

      padding: 80px 0 0;
      box-sizing: border-box;

      background-color: $color-light;
      transition: 0.5s ease;
      transform: translateX(400%);
    }

    .link {
      margin-right: auto;
    }

    .list {
      flex-direction: column;
      align-items: center;
      gap: 60px;
      @include inter (32px, 600, 40px);
    }

    .menuLink {
      position: absolute;
      top: 480px;
      left: 50%;
      width: 143px;
      z-index: 2;
      margin-top: 100px;

      transition: 0.5s ease;
      transform: translateX(3000%);

      @include inter (32px, 600, 40px);
      background: url('../../Assets/big-cup.svg') no-repeat 100%;
    }
  }

  .nav_active {
    transform: translateX(-50%);
  }
}